.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 60px;
  background-color: transparent;
  color: #fff;
  color: #1a1a1a;
}
