.footer {
  padding-bottom: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

.copy {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.3px;
}
